.mkTime {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: 10;
  background: var(--lt-color-green-100);
  color: var(--lt-color-green-100);
}
