:root {
  --lt-color-green-100: #00bb2d;
  --lt-color-slate-100: #f1f5f9;
  --tr-color-black-100: #0000000c;

  --dark-color-body: #0b0b0b;
  --dark-color-content: #242424;
  --dark-color-border: #2a3b47;
  --dark-color-card-100: #363636;
}
