.dark {
  background: var(--dark-color-body);
  color: white;
}
.dark .sectionContentDarkmode {
  background: var(--dark-color-content);
}
.dark .cardContentDarkmode {
  background: var(--dark-color-card-100);
}
.dark .borderDarkmode {
  border-color: var(--dark-color-border);
}
.dark .colorBeforeDarkmode::before {
  color: var(--dark-color-body);
}
.dark .imgSection {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
}

.dark section .air {
  background: url('/images/waveDarkmode.png');
  background-size: 1000px 100px;
}

.dark img {
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}
