* {
    scroll-behavior: smooth;
}

html {
    scroll-padding: 260px;
}

@media (min-width: 640px) {
    html {
        scroll-padding: 120px;
    }
}

*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--lt-color-green-100);
    border-radius: 20px;
}