.gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    color: var(--dk-color-brown-300);
    gap: 2rem;
    background: var(--tr-color-brown-200);
    z-index: 40;
}
.gameOver h2 {
    font-size: 4rem;
}
.gameOver button {
    font-size: 1rem;
}

.playing {
    display: none;
}
