dialog {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    top: 50%;
    border: none;
    display: flex;
    padding: 20px;
    background: var(--lt-color-brown-300);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 100;
}

@media (min-width: 300px) {
    dialog {
        aspect-ratio: 1;
    }
}
