.buttonGrow {
  border: 2px solid var(--lt-color-green-100);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.buttonGrow > * {
  z-index: 10;
  color: var(--lt-color-green-100);
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 20px;
}

.buttonGrow::after {
  content: '';
  display: block;
  background-color: var(--lt-color-green-100);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.buttonGrow:hover::after {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.buttonGrow:hover > * {
  color: white;
}
