#followBall {
  position: absolute;
  top: var(--moveY, -100%);
  left: var(--moveX, -100%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  backdrop-filter: invert();
}
