.asideSlider {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-primary);
    color: var(--color-primary);
    min-width: 80vw;
    height: 100%;
    padding: 10px;
    border-left: solid 1px var(--color-primary);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    z-index: -10;
    overflow-y: auto;
}

.labelHandler:has(:checked) + .asideSlider {
    display: block;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}

.labelHandler:has(:checked) > span {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}

@media (min-width: 640px) {
    .asideSlider {
        min-width: 350px;
    }
}

.labelHandler:has(:checked) .dangerZoneSlider {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    z-index: -90;
    cursor: default;
}

.asideIcon:hover,
.labelHandler:has(:checked),
.labelHandler:hover {
    background: var(--bg-secondary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
