header {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 999999;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.border-b {
  border: none;
  border-bottom: 1px solid currentColor;
}

.hoverToModal {
  text-align: center;
  padding-bottom: 0.5rem;
}

.modalsection {
  position: absolute;
  background: white;
  width: 100%;
  padding: 0.75rem;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 1px));
  -webkit-transform: translateY(calc(100% + 1px));
  -moz-transform: translateY(calc(100% + 1px));
  -ms-transform: translateY(calc(100% + 1px));
  -o-transform: translateY(calc(100% + 1px));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hoverToModal:hover > .modalsection,
.modalsection:hover {
  display: flex;
}

.navHeader > * {
  min-width: 8.75rem;
}
