@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue-body : #00253e;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark-blue-body);
}