.gameOptions {
    justify-content: space-between;
}

.gameOptions button {
    color: white;
    border: none;
    font-weight: 600;
    padding: 0px 20px;
    background: var(--dk-color-brown-200);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
}

@media (min-width: 450px) {
    .presentationHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
