.secondIcon {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  z-index: 5;
  top: 0;
}

.darkmodeBtn:hover .secondIcon {
  opacity: 1;
}

.darkmodeBtn:hover .firstIcon {
  opacity: 0;
}
